footer{
    width: 100%;
    background-color: #000;
    height: 350px;
    color:#fff;
    flex-direction: column;
    justify-content: space-evenly;
    }

.rodape-subcontainer{
    flex-direction: column;
    text-align: left;
   
}

footer img{
    width: 200px;
}

.rodape-container{
    align-items: center;
    justify-content: space-around;
    width:1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

footer span {
   color:yellow
}

@media (max-width: 1240px){
    .rodape-container{
        width: 100%;
    }
}

@media (max-width: 560px){
    .rodape-container{
        flex-direction: column;
        gap: 40px;
    }

    .rodape-subcontainer{
        width: 200px;
        font-size: 14px;
    }

    footer{
        height: 600px;
    }
}